<!DOCTYPE html>
<html ng-app="pits">
<head>
	<title>Prochito its</title>
	<!-- ===============================
	==================CSS===============
	==================================== -->
	<!-- boostrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/hover-min.css">
	<!-- slider css -->
    <link rel="stylesheet" href="css/slippry.css"/>
	<!-- ===============================
	==================CSS ENDS==========
	==================================== -->
	<!-- angularjs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>

<!--headerNavBar!-->
<div class="navbar-fixed-top">
    <nav id="top-navbar" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-trigger" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--company title-->
                <a class="navbar-brand font-light" href="#">PROCHITO ITS</a>
            </div>
            <!--top-first-menu-->
            <div class="collapse navbar-collapse" id="collapse-trigger">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Vision</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Review</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- main page content -->

<!-- hero image section -->
<div class="hero-image">
  <div class="hero-text">
    <h1 class="font-xxxl font-light animated fadeInUp">Prochito information technology solution</h1>
    <p>We love quality rather than quantity</p>
    <a href="#"><div class="hvr-icon-hang"></div></a>
  </div>
</div>
<!-- hero image section ends -->

<br/><br/><br/><br/>

<!-- vision-container -->
<div class="container">
	<!-- vision -->
	<div class="row">
		<div class="col-sm-3">
			<br/>
			<img class="img-responsive v-c-img" src="img/chairman.jpg">
		</div>
		<div class="col-sm-9">
			<h1 class="font-xxl font-thin">Vision from Chairman</h1>
			<blockquote>
				<p class="justify font-n">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<footer>Sabina Yeasmeen</footer>
			</blockquote>
		</div>
	</div>
	<!-- vision ends -->
</div>
<!-- vision-container ends -->

<br/><br/><br/><br/>

<!-- projects-container fluid -->
<div class="container-fluid p-c-c-fluid">
	<div class="container">
	<!-- projects -->
		<div class="row">
			<div class="col-sm-3">
				<h1 class="font-xxl font-thin">Checkout our in-house project</h1>
				<p class="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<br/><br/>
				<a class="btn i-h-p-button hvr-icon-wobble-horizontal" href="#" role="button">Click to visit Amujamu.com</a>
			</div>
			<div class="col-sm-9">
				<img class="img-responsive wow fadeInRight" src="img/amujamu.png">
			</div>
		</div>
	<!-- projects ends -->
	</div>
</div>
<!-- projects-container-fluid ends -->

<br/><br/>

<!-- other-projects-container -->
<div class="container">
	<!-- other-projects -->
	<div class="row">
		<div class="col-sm-6">
		</div>
		<div class="col-sm-6">
			
		</div>
	</div>
	<!-- other-projects ends -->
</div>
<!-- other-projects-container ends -->

<!-- skills -->
<section class="container" ng-controller="skillController as skcon">
	<div class="row">
		<h3 class="font-xxl font-thin center">Professional Skills</h3>
		<hr>
		<!-- html -->
		<div class="col-sm-2" ng-repeat="skill in skcon.skills">
			<div id="bars">
				<div class="bar" data-percent="{{skill.percent}}">
					<p class="center">{{skill.name}}</p>
					<canvas class="bar-circle center" width="70" height="70"></canvas>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- skills end -->


<br/><br/>

<!-- team-container -->
<div class="container" ng-controller="profileController as profcon">
	<!-- team -->
					<h3 class="font-xxl font-thin center">Team Members</h3>
					<!-- member row 01 -->
					<div class="row">
						<div class="col-sm-3 wow fadeInUp" align="center" ng-repeat="profile in profcon.entityList">
	   						<div class="card">
	   						    <div class="cardheader"></div>
								<div class="card-img-box">
									<img ng-src="{{profile.photo}}" alt="..." class="card-img">
									</br>
										<h4>{{profile.name}}</h4>
										<p>{{profile.rank}}</p>
										<blockquote class="blockquote">
  											<i class="quote">"{{profile.note}}"</i>
										</blockquote>
					                    <a href="{{profile.github}}">
					                        <i class="fa fa-github fa-lg c-fa" aria-hidden="true"></i>
					                    </a>
					                    <a href="{{profile.twitter}}">
					                        <i class="fa fa-twitter fa-lg c-fa" aria-hidden="true"></i>
					                    </a>
					                    <a href="{{profile.linkedin}}">
					                        <i class="fa fa-linkedin fa-lg c-fa" aria-hidden="true"></i>
					                    </a>
								</div>	
							</div>
						</div>
					</div>	
	<!-- team ends -->
	<br/><br/><hr>
</div>
<!-- team-container ens -->

<br/><br/>

<!-- review -->
<div class="container-fluid review">
	<div class="container" ng-controller="clientController as clicon">
		<br/><br/>
		<h1 class="font-xxl font-thin center">Our beloved clients</h1>
		<ul id="news-slider">
		<!-- slide-01 -->
			<li ng-repeat="client in clicon.reviewerList">
				<div class="m-center">
					<img class="img-responsive circle" ng-src="{{client.photo}}">
				</div>
				<div class="center">
					<p class="font-l">{{client.name}}</p>
					<p class="thin italic">{{client.comment}}</p>
				</div>
				<br/><br/>
			</li>
		</ul>
	</div>
</div>
<!-- review ends -->

<br/><br/>

<!-- contact -->
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1 class="font-xxl font-thin">Contact Us</h1>
			<p class="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
		</div>
		<div class="col-sm-6">
			<div id="map"></div>
		</div>
	</div>
</div>
<!-- contact ends -->

<!-- main page content ends -->




<!-- ================================================
=========================JS STARTS===================
===================================================== -->
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- slider js-->
<script src="js/slippry.min.js"></script>
<!-- boostrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- custom js -->
<script type="text/javascript" src="js/custom.js"></script>
<!-- wow js -->
<script type="text/javascript" src="js/wow-min.js"></script>
<script>
    new WOW().init();
</script>

<!-- google map js api -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAif5OySv6zyeGt7cYGFOkDiMCCQMhOwkE&callback=myMap"></script>

<!-- slider -->


<!-- ================================================
=========================JS END======================
===================================================== -->

</body>

</html>